@page "/"

<PageTitle>Index</PageTitle>

<div align="center">
    <h1>Welcome to Luciarr!</h1>

    <p>If this is your first time here, please familiarize yourself with the website.</p>
</div>
<hr/>
<div class="container justify-content-center" align="center">
    <div class="row">
        <div class="col">
            <Card Style="width:18rem;">
                <CardHeader>
                    <CardTitle Class="mt-2">
                        <Icon Name="IconName.PlayCircle" class="me-2"></Icon>
                        Series
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardTitle>The Series page gives you manual control to Hide/Unhide your series.</CardTitle>
                </CardBody>
            </Card>
        </div>
        <div class="col">
            <Card Style="width:18rem;">
                <CardHeader>
                    <CardTitle Class="mt-2">
                        <Icon Name="IconName.Film" class="me-2"></Icon>
                        Movies
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardTitle>The Movies page displays recently released movies that Luciarr will request automatically.</CardTitle>
                </CardBody>
            </Card>
        </div>
        <div class="col">
            <Card Style="width:18rem;">
                <CardHeader>
                    <CardTitle Class="mt-2">
                        <Icon Name="IconName.Clipboard" class="me-2"></Icon>
                        Logs
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardTitle>The Logs page gives you visability into the workings of Luciarr.</CardTitle>
                </CardBody>
            </Card>
        </div>
        <div class="col">
            <Card Style="width:18rem;">
                <CardHeader>
                    <CardTitle Class="mt-2">
                        <Icon Name="IconName.Gear" class="me-2"></Icon>
                        Settings
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <CardTitle>The Settings page lets you configure Luciarr at any time</CardTitle>
                </CardBody>
                <CardFooter>
                    <CardSubTitle Class="text-muted">Please configure the settings for Luciarr first!</CardSubTitle>
                </CardFooter>
            </Card>
        </div>
    </div>
</div>
